.footer {
    position:fixed;
    bottom: 0;
    margin-top: auto;
    height:7%;
    width: 100%;
    padding: auto; 
    border-top: 3px solid #D33636; 
  }

.row{
	display: flex;
	flex-wrap: wrap;
}


.footer-list {
    list-style: none;
    display: inline-block;
    text-align:left;
    align-items: left;
    height: 95px;
}

.footer-left-item{
    display: block;
    list-style: none;
    margin-right: 8px;
    margin-bottom: -55px;
}

.footer-right-item {
    display: inline-block;
    height: 95px;
    margin-left: 10px;
    text-align:center;
   
}

.col h4{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin-top: 10px;
}

.icon-left {
    height:20px;
    
}

.icon-right{
    height:30px;
}
