@media only screen and (max-width: 868px) {
    .sidebar {
        width: 156.24px;
    }

    .right-side {
        width: 711.76px;
    }
}

.forum-page {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.sidebar {
    width: 18%;
    height: 900px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.all-dis {
    margin-bottom: 50px;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 5px;
    background-color: white;
    text-align: center;
}

.all-dis:hover {
    background-color: #e0e0e0;
}

.category-sel {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.category-sel .cate-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cate-list {
    list-style: none;
    padding: 0;
    text-align: center;
}

.cate-list li {
    cursor: pointer;
    padding: 8px 12px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: white;
    flex: 1;
}

.cate-list li:hover {
    background-color: #e0e0e0;
}

.post-button {
    width: 130px;
    margin-bottom: 10px;
    margin-top: 70px;
}

.right-side {
    width: 82%;
}

.display-posts {
    height: 100%;
}

.sidebar, .display-posts {
    padding: 20px;
    box-sizing: border-box;
}

.posts-container {
    width: 82%;
    border-top: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-content {
    flex: 1;
    padding: -2px;
    margin-bottom: 5px;
}

.post-details {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
}

.title-comments {
    display: flex;
    flex-direction: space-between;
}

.post-comments {
    margin-top: 10px;
    padding-left: 7px;
    padding-right: 10px;
}

.post-title {
    margin-top: 5px;
}

.post-title-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.post-author {
    margin-bottom: 3px;
}

.admin-style {
    color:red;
}

.category-detail,
.timestamp-detail {
    display: flex;
    flex-direction: column;
}

.top-menu {
    width: 82%;
    height: 25px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.dropdown-menu {
    display: flex;
    align-items: center;
    border-style: none;
    margin-left: 25px;
    text-align: center;
}

.refresh-button {
    margin-left: auto;
    margin-right: 20px;
    width:38px;
    width:38px;
}

.pagination-container {
    margin-top: 23px;
}

.page-num {
    margin-right: 14px;
    width:38px;
    height:42px;
    text-align: center;
}