.header {
    height:95px;
    border-bottom: 3px solid #D33636;
}

.headerLeft {
    flex: 1;
    margin: 0 auto;
}

.headerCenter {
    flex: 1;
    margin: 0 auto;
}

.headerRight {
    flex: 1;
    margin: 0 auto;
}

.headerLeftItem {
    padding-top: 33px;
    padding-right: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.headerRightItem {
    padding-top: 27px;
    padding-right: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

ul {
    list-style: none;
    display: flex;
    text-align:center;
    height: 95px;
    
}

li {
    display: inline-block;
    height: 95px;
    text-align:center;
}

.headerImage {
    width: 244px;
    height: 92px;
}