.header {
    height:95px;
    border-bottom: 3px solid #D33636;
    justify-content: space-between; /* 아이템 사이의 간격을 동일하게 설정 */
    width: 100%;
    flex-wrap: nowrap; /* 아이템이 한 줄에 유지되도록 설정합니다. */
}

.headerLeft {
    flex: 1;
    margin: 0 auto;
}

.headerCenter {
    flex: 1;
    margin: 0 auto;
}

.headerRight {
    flex: 1;
    margin: 0 auto;
}

.headerLeftItem {
    padding: 27px 30px 0px 30px;
    margin: 0 auto;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
}

.headerCenterItem {
    margin: 0 auto;
}

.headerRightItem {
    padding: 27px 30px 0px 30px;
    margin: 0 auto;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
}

.personCircle {
    padding-right: 7px;
    padding-bottom: 2px;
}

ul {
    list-style: none;
    display: flex;
    text-align:center;
    height: 95px;
}

li {
    display: inline-block;
    height: 95px;
    text-align:center;
}

.btn {
    &:hover {
        transition: ease-in-out 0.2s;
    }
    &:hover img{
        transition: ease-in-out 0.2s;
        filter: invert(100%) sepia(1%) saturate(0%) hue-rotate(164deg) brightness(105%) contrast(100%);
    }
}

a {
    text-decoration: none;
    color: black;
    
}

.leftItems:hover {
    opacity: 0.5;
    transition: ease-in-out 0.2s;
}

.headerImage {
    width: 244px;
    height: 92px;
}