.category {
    height: 735px;
    width: 15.625em;
    border-right: 1px solid #797777;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.category-list {
    display: inline-block;
    
}

.category-item {
    display: block;
    font-size: 0.95em;
    margin-top: -5px;
    margin-bottom: -55px;
}

.category-item:hover {
    opacity: 0.5;
    transition: ease-in-out 0.2s;
}

.icon{
    height:20px;
    width:20px;
    margin-right: 10px;
}

a.active{
    color:#B00C0C
}